
body{
  background-color: white;

p{
  color:red;
  font-size: 50px;
  }
img {
  width:200px;
  height:auto;
}
.common {
background-color: white;
width: 50%;
margin: auto;
text-align: center;
font-family: "Actor";
}
.special {
background-color: white;
font-family: "Asset";
text-align: center;
font-size:70px;
}
